openapi: 3.1.0
info:
  title: PokeAPI Starter
  version: 1.0.0
  description: Minimal OpenAPI schema for a free, keyless external API.
servers:
  - url: https://pokeapi.co/api/v2
paths:
  /pokemon/{nameOrId}:
    get:
      operationId: getPokemon
      summary: Get a Pokemon by name or ID
      parameters:
        - name: nameOrId
          in: path
          required: true
          schema:
            type: string
          example: pikachu
      responses:
        "200":
          description: A Pokemon resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pokemon"
        "404":
          description: Pokemon not found
components:
  schemas:
    Pokemon:
      type: object
      required:
        - id
        - name
        - height
        - weight
        - sprites
        - types
        - abilities
      properties:
        id:
          type: integer
        name:
          type: string
        height:
          type: integer
          description: Height in decimeters.
        weight:
          type: integer
          description: Weight in hectograms.
        sprites:
          type: object
          required:
            - front_default
          properties:
            front_default:
              type:
                - string
                - "null"
              format: uri
        types:
          type: array
          items:
            type: object
            required:
              - slot
              - type
            properties:
              slot:
                type: integer
              type:
                $ref: "#/components/schemas/NamedResource"
        abilities:
          type: array
          items:
            type: object
            required:
              - ability
              - is_hidden
              - slot
            properties:
              ability:
                $ref: "#/components/schemas/NamedResource"
              is_hidden:
                type: boolean
              slot:
                type: integer
    NamedResource:
      type: object
      required:
        - name
        - url
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
